<header class="app-header">
  <div class="header-content">
    <div class="header-left">
      <div class="current-date">
        {{ currentDate | date:'EEEE, d MMMM, yyyy' }}
      </div>
    </div>
    
    <div class="header-right">
      <div class="user-profile">
        <span class="user-greeting">Olá, {{ (currentUser?.name ?? '').split(' ')[0] }}</span>
        <div class="user-avatar">
          <img [src]="currentUser?.avatar || 'https://i.pravatar.cc/150?img=1'" alt="Avatar">
        </div>
      </div>
    </div>
  </div>
</header>